<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-muster-16-ver-heading" data-cy="Muster16VerCreateUpdateHeading">Create or edit a Muster 16 Ver</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_aUnfall">A Unfall</label>
          <input type="text" class="form-control" name="aUnfall" id="field_aUnfall" data-cy="aUnfall" formControlName="aUnfall" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_abDatum">Ab Datum</label>
          <input type="text" class="form-control" name="abDatum" id="field_abDatum" data-cy="abDatum" formControlName="abDatum" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vrsNr">Vrs Nr</label>
          <input type="text" class="form-control" name="vrsNr" id="field_vrsNr" data-cy="vrsNr" formControlName="vrsNr" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vrtrgsArztNr">Vrtrgs Arzt Nr</label>
          <input
            type="text"
            class="form-control"
            name="vrtrgsArztNr"
            id="field_vrtrgsArztNr"
            data-cy="vrtrgsArztNr"
            formControlName="vrtrgsArztNr"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sprStBedarf">Spr St Bedarf</label>
          <input
            type="text"
            class="form-control"
            name="sprStBedarf"
            id="field_sprStBedarf"
            data-cy="sprStBedarf"
            formControlName="sprStBedarf"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_unfall">Unfall</label>
          <input type="text" class="form-control" name="unfall" id="field_unfall" data-cy="unfall" formControlName="unfall" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_unfallTag">Unfall Tag</label>
          <input type="text" class="form-control" name="unfallTag" id="field_unfallTag" data-cy="unfallTag" formControlName="unfallTag" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vGeb">V Geb</label>
          <input type="text" class="form-control" name="vGeb" id="field_vGeb" data-cy="vGeb" formControlName="vGeb" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vStat">V Stat</label>
          <input type="text" class="form-control" name="vStat" id="field_vStat" data-cy="vStat" formControlName="vStat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_verDat">Ver Dat</label>
          <input type="text" class="form-control" name="verDat" id="field_verDat" data-cy="verDat" formControlName="verDat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_kName">K Name</label>
          <input type="text" class="form-control" name="kName" id="field_kName" data-cy="kName" formControlName="kName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_kkIk">Kk Ik</label>
          <input type="text" class="form-control" name="kkIk" id="field_kkIk" data-cy="kkIk" formControlName="kkIk" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_laNr">La Nr</label>
          <input type="text" class="form-control" name="laNr" id="field_laNr" data-cy="laNr" formControlName="laNr" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_noctu">Noctu</label>
          <input type="text" class="form-control" name="noctu" id="field_noctu" data-cy="noctu" formControlName="noctu" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_hilf">Hilf</label>
          <input type="text" class="form-control" name="hilf" id="field_hilf" data-cy="hilf" formControlName="hilf" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_impf">Impf</label>
          <input type="text" class="form-control" name="impf" id="field_impf" data-cy="impf" formControlName="impf" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_kArt">K Art</label>
          <input type="text" class="form-control" name="kArt" id="field_kArt" data-cy="kArt" formControlName="kArt" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rTyp">R Typ</label>
          <input type="text" class="form-control" name="rTyp" id="field_rTyp" data-cy="rTyp" formControlName="rTyp" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rezeptTyp">Rezept Typ</label>
          <input type="text" class="form-control" name="rezeptTyp" id="field_rezeptTyp" data-cy="rezeptTyp" formControlName="rezeptTyp" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bgrPfl">Bgr Pfl</label>
          <input type="text" class="form-control" name="bgrPfl" id="field_bgrPfl" data-cy="bgrPfl" formControlName="bgrPfl" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bvg">Bvg</label>
          <input type="text" class="form-control" name="bvg" id="field_bvg" data-cy="bvg" formControlName="bvg" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_eigBet">Eig Bet</label>
          <input type="text" class="form-control" name="eigBet" id="field_eigBet" data-cy="eigBet" formControlName="eigBet" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_gebFrei">Geb Frei</label>
          <input type="text" class="form-control" name="gebFrei" id="field_gebFrei" data-cy="gebFrei" formControlName="gebFrei" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sonstige">Sonstige</label>
          <input type="text" class="form-control" name="sonstige" id="field_sonstige" data-cy="sonstige" formControlName="sonstige" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vkGueltigBis">Vk Gueltig Bis</label>
          <input
            type="text"
            class="form-control"
            name="vkGueltigBis"
            id="field_vkGueltigBis"
            data-cy="vkGueltigBis"
            formControlName="vkGueltigBis"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_mRezeptId">M Rezept Id</label>
          <select class="form-control" id="field_mRezeptId" data-cy="mRezeptId" name="mRezeptId" formControlName="mRezeptId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                muster16AbgOption.id === editForm.get('mRezeptId')!.value?.id ? editForm.get('mRezeptId')!.value : muster16AbgOption
              "
              *ngFor="let muster16AbgOption of mRezeptIdsCollection; trackBy: trackMuster16AbgById"
            >
              {{ muster16AbgOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
