<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-e-aenderung-heading" data-cy="EAenderungCreateUpdateHeading">Create or edit a E Aenderung</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_schluessel">Schluessel</label>
          <input
            type="number"
            class="form-control"
            name="schluessel"
            id="field_schluessel"
            data-cy="schluessel"
            formControlName="schluessel"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dokuRezept">Doku Rezept</label>
          <input
            type="text"
            class="form-control"
            name="dokuRezept"
            id="field_dokuRezept"
            data-cy="dokuRezept"
            formControlName="dokuRezept"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dokuArzt">Doku Arzt</label>
          <input type="text" class="form-control" name="dokuArzt" id="field_dokuArzt" data-cy="dokuArzt" formControlName="dokuArzt" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_datum">Datum</label>
          <div class="input-group">
            <input
              id="field_datum"
              data-cy="datum"
              type="text"
              class="form-control"
              name="datum"
              ngbDatepicker
              #datumDp="ngbDatepicker"
              formControlName="datum"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="datumDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_eRezept">E Rezept</label>
          <select class="form-control" id="field_eRezept" data-cy="eRezept" name="eRezept" formControlName="eRezept">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="eRezeptOption.id === editForm.get('eRezept')!.value?.id ? editForm.get('eRezept')!.value : eRezeptOption"
              *ngFor="let eRezeptOption of eRezeptsSharedCollection; trackBy: trackERezeptById"
            >
              {{ eRezeptOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
