<div>
  <h2 id="page-heading" data-cy="Muster16AbrHeading">
    <span>Muster 16 Abrs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-muster-16-abr"
        [routerLink]="['/muster-16-abr/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Muster 16 Abr </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="muster16Abrs?.length === 0">
    <span>No muster16Abrs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="muster16Abrs && muster16Abrs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Betrag Rab A</span></th>
          <th scope="col"><span>Betrag Rab H</span></th>
          <th scope="col"><span>Betrag Apo Ausz</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let muster16Abr of muster16Abrs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/muster-16-abr', muster16Abr.id, 'view']">{{ muster16Abr.id }}</a>
          </td>
          <td>{{ muster16Abr.betragRabA }}</td>
          <td>{{ muster16Abr.betragRabH }}</td>
          <td>{{ muster16Abr.betragApoAusz }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/muster-16-abr', muster16Abr.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/muster-16-abr', muster16Abr.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(muster16Abr)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
