<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pRezeptAbg">
      <h2 data-cy="pRezeptAbgDetailsHeading"><span>P Rezept Abg</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pRezeptAbg.id }}</span>
        </dd>
        <dt><span>P Rezept Id</span></dt>
        <dd>
          <span>{{ pRezeptAbg.pRezeptId }}</span>
        </dd>
        <dt><span>Geb Frei</span></dt>
        <dd>
          <span>{{ pRezeptAbg.gebFrei }}</span>
        </dd>
        <dt><span>Ges Brutto</span></dt>
        <dd>
          <span>{{ pRezeptAbg.gesBrutto }}</span>
        </dd>
        <dt><span>Hash Code</span></dt>
        <dd>
          <span>{{ pRezeptAbg.hashCode }}</span>
        </dd>
        <dt><span>K Art</span></dt>
        <dd>
          <span>{{ pRezeptAbg.kArt }}</span>
        </dd>
        <dt><span>Noctu</span></dt>
        <dd>
          <span>{{ pRezeptAbg.noctu }}</span>
        </dd>
        <dt><span>P Rezept Typ</span></dt>
        <dd>
          <span>{{ pRezeptAbg.pRezeptTyp }}</span>
        </dd>
        <dt><span>R Typ</span></dt>
        <dd>
          <span>{{ pRezeptAbg.rTyp }}</span>
        </dd>
        <dt><span>Sonstige</span></dt>
        <dd>
          <span>{{ pRezeptAbg.sonstige }}</span>
        </dd>
        <dt><span>Spr St Bedarf</span></dt>
        <dd>
          <span>{{ pRezeptAbg.sprStBedarf }}</span>
        </dd>
        <dt><span>Ver Dat</span></dt>
        <dd>
          <span>{{ pRezeptAbg.verDat }}</span>
        </dd>
        <dt><span>Vk Gueltig Bis</span></dt>
        <dd>
          <span>{{ pRezeptAbg.vkGueltigBis }}</span>
        </dd>
        <dt><span>Zuzahlung</span></dt>
        <dd>
          <span>{{ pRezeptAbg.zuzahlung }}</span>
        </dd>
        <dt><span>P Rezept Id</span></dt>
        <dd>
          <div *ngIf="pRezeptAbg.pRezeptId">
            <a [routerLink]="['/p-rezept-abr', pRezeptAbg.pRezeptId?.id, 'view']">{{ pRezeptAbg.pRezeptId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/p-rezept-abg', pRezeptAbg.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
