<div>
  <h2 id="page-heading" data-cy="Muster16AbgHeading">
    <span>Muster 16 Abgs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-muster-16-abg"
        [routerLink]="['/muster-16-abg/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Muster 16 Abg </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="muster16Abgs?.length === 0">
    <span>No muster16Abgs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="muster16Abgs && muster16Abgs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Apo Ik</span></th>
          <th scope="col"><span>Liefer Dat</span></th>
          <th scope="col"><span>A Periode</span></th>
          <th scope="col"><span>Arb Platz</span></th>
          <th scope="col"><span>Avs Id</span></th>
          <th scope="col"><span>Bediener</span></th>
          <th scope="col"><span>Zuzahlung</span></th>
          <th scope="col"><span>Ges Brutto</span></th>
          <th scope="col"><span>M Rezept Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let muster16Abg of muster16Abgs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/muster-16-abg', muster16Abg.id, 'view']">{{ muster16Abg.id }}</a>
          </td>
          <td>{{ muster16Abg.apoIk }}</td>
          <td>{{ muster16Abg.lieferDat }}</td>
          <td>{{ muster16Abg.aPeriode }}</td>
          <td>{{ muster16Abg.arbPlatz }}</td>
          <td>{{ muster16Abg.avsId }}</td>
          <td>{{ muster16Abg.bediener }}</td>
          <td>{{ muster16Abg.zuzahlung }}</td>
          <td>{{ muster16Abg.gesBrutto }}</td>
          <td>
            <div *ngIf="muster16Abg.mRezeptId">
              <a [routerLink]="['/muster-16-abr', muster16Abg.mRezeptId?.id, 'view']">{{ muster16Abg.mRezeptId?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/muster-16-abg', muster16Abg.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/muster-16-abg', muster16Abg.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(muster16Abg)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
