<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lieferung-heading" data-cy="LieferungCreateUpdateHeading">Create or edit a Lieferung</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_iD">I D</label>
          <input type="text" class="form-control" name="iD" id="field_iD" data-cy="iD" formControlName="iD" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_datum">Datum</label>
          <div class="input-group">
            <input
              id="field_datum"
              data-cy="datum"
              type="text"
              class="form-control"
              name="datum"
              ngbDatepicker
              #datumDp="ngbDatepicker"
              formControlName="datum"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="datumDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_apoIk">Apo Ik</label>
          <input type="text" class="form-control" name="apoIk" id="field_apoIk" data-cy="apoIk" formControlName="apoIk" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_apotheke">Apotheke</label>
          <select class="form-control" id="field_apotheke" data-cy="apotheke" name="apotheke" formControlName="apotheke">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="apothekeOption.id === editForm.get('apotheke')!.value?.id ? editForm.get('apotheke')!.value : apothekeOption"
              *ngFor="let apothekeOption of apothekesSharedCollection; trackBy: trackApothekeById"
            >
              {{ apothekeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
